<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
	

	
	
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>


</head>
<body>


	<section>
	<img
            src="https://thumbs.dreamstime.com/b/education-counselor-word-cloud-wordcloud-made-text-129925199.jpg"
            alt="Education Counselor"
            style="width: 1350px; height: 550px; background-color: '#999999';">
<br>
<br>
<br>
	
	</section>



</body>
</html>